/* Slideshow container */
.slideshow-container {
    min-width: 80%;
    min-height: 100px;
    color: #fff;
}​

.mySlides .text-container .margin-b-40 h4 {
  color: #fff !important;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
